{% extends 'main/base.html' %}


{% block content %}
<div class="container">
  <br> <br>
  <div class="col l12 m12 s12">
    <div class="card center">
      <div class="card-content">
      
        <p class="left-align">Görüşleriniz için <a href="mailto:info@sorupunk.com">info@sorupunk.com</a> adresine email gönderebilir veya 111 1 111 numaralı telefondan bize ulaşabilirsiniz.</p>
        <br>
        <p class="left-align"><i class="material-icons">contact_mail</i>: <a href="mailto:destek@sorupunk.com">destek@sorupunk.com</a> </p>
        <br>
        <p class="left-align"><i class="material-icons">contact_phone</i>: 0462 661 61 61</p>
        <br>
        <p class="left-align"><i class="material-icons">place</i>:  Herhangi bir cadde</p>
        <p class="left-align">Herhangi bir sokak ve bina</p>
        <p class="left-align">herhangi bir ve posta kodu</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}