{% extends 'main/base.html' %}


{% block content %}

<div class="container">
  <div class="row">
    <h3>Premium SSS</h3>
    <p>Premium özellikler ile soruları punklamak bir başka. Peki nedir premium bir hesabın bize faydaları. Buyurun:</p>
  </div>
    <ul class="collapsible">
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Premium Hesap </div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magni tempora sint fuga illo temporibus impedit nobis nostrum eveniet placeat.</span></div>
        </li>
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Karışık Soru Bankaları</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Daha Fazla Deneme</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Daha Fazla Punkpara</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Hesabım Nasıl Premium Olur</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header deep-purple lighten-4"><i class="material-icons">arrow_drop_down</i>Ya beğenmezsem ? </div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

    <p>Özellikleri beğendiniz mi ? Hemen premium hesap almak için <a href="/get_premium">tıklayınız</a>. Kafanızda hala soru işaretleri mi var ? Neden bizimle <a href="/iletisim">iletişime</a> geçmiyorsun ?</p>

</div>


{% endblock %}