{% extends 'main/base.html' %}

{% block content %}

<div class="container">
    <div class="col s12 m6 l6">
        <p>Bizimle iletişme geçmek için <a href="/iletisim/">iletişim</a> sayfamıza göz atabilirsiniz</p>

        <h2>Biz kimiz ? </h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos enim velit dicta magnam quis accusamus dolores odit 
            amet pariatur vitae dolore doloribus eum maiores qui commodi doloremque animi suscipit, ex maxime veniam nostrum 
            sit obcaecati? Corrupti impedit tempore eius porro, ex nihil aliquid cupiditate odit, dicta culpa, maiores aspernatur cumque beatae voluptate
            s atque veniam ratione magnam alias. Veniam, iure officiis, sed placeat ipsum dolorem beatae commodi tempora atque ipsam tenetur sit quidem 
            laudantium dolor exercitationem aut voluptatibus hic minus accusantium? Autem nemo esse eum veniam ducimus ad temporibus velit dignissimos 
            quasi sunt aliquid beatae aut voluptatum suscipit sapiente, inventore debitis nam, similique nobis sit adipisci molestias accusamus? 
            Fuga doloribus sapiente maiores quaerat ab cupiditate? Quasi modi, necessitatibus sequi, eaque eveniet quaerat veniam, a magni architecto 
            adipisci temporibus. Ea omnis tempora, cumque dolores ad porro ratione sequi voluptatem blanditiis tenetur velit officia quo rerum perferendis 
            corrupti accusantium dolore recusandae expedita eveniet doloribus perspiciatis incidunt. Ratione, magni minima dolore ab magnam totam suscipit 
            consequuntur atque id distinctio animi aperiam corporis inventore reprehenderit sint perferendis dicta nulla sequi. Commodi iure perspiciatis 
            doloribus ex autem ea qui explicabo deserunt aspernatur non, libero, facere enim distinctio minus voluptate eveniet alias iste sequi aliquid 
            pariatur repellat harum sunt? Corrupti voluptatem officia omnis vel numquam repellat eligendi nulla sed sunt unde ipsa, fuga modi soluta labore
             tenetur natus maiores, facere harum officiis. Doloremque aliquam dolorum et, animi corporis incidunt ipsa magni amet? Itaque cum quia quae offi
             ciis excepturi. At recusandae quaerat quasi repellat asperiores atque accusamus ratione.</p>
        <h3>Sorupunk'da neler yapabilirsiniz ? </h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, tenetur neque ipsa illum quas accusamus ut. Repellat voluptatum debitis c
                onsequuntur enim impedit. Consequatur molestias voluptate, voluptatem, facilis voluptatum porro, officiis eius reiciendis iste sed eveni
                et facere libero ab dignissimos tempora pariatur dolorum iure perspiciatis quos doloribus qui iusto aut voluptas voluptates! Quos omnis
                 numquam at quibusdam qui natus consequuntur ad dolore delectus dolor maxime itaque dignissimos impedit quas beatae quo dicta nulla, a
                 b ipsum adipisci suscipit consectetur repudiandae cupiditate quam! Natus provident sint, maxime, si
                t quibusdam laborum libero dignissimos id earum, nihil excepturi debitis? Inventore recusandae repellat ab similique eius?</p>
    </div>
</div>




{% endblock%}