
<footer class="page-footer deep-purple darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sayfanın sonuna geldiniz !</h5>

          <ul>
            <li><a class="grey-text text-lighten-3" href="/support-donate/">İnstagram</a></li>
            <li><a class="grey-text text-lighten-3" href="/consulting/">Topluluğa Katılın</a></li>
            <li><a class="grey-text text-lighten-3" href="/consulting/">Bla Bla</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Faydalı Linkler:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/about/tos/">Hakkımızda</a></li>
            <li><a class="grey-text text-lighten-3" href="/iletisim">İletişim</a></li>
            <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Gizlilik ve Şartlar</a></li>

          </ul>
        </div>
      </div>
    </div>
    <a href="https://www.youtube.com/watch?v=a5uQMwRMHcs" target='blank'><p class="white-text right" style='padding-right:10px'>Sınavları punklamaya hazır mısınız ?</p></a>
    <div class="footer-copyright">
      <div class="container">
      Copyright © 2020 ABİSLAB

      </div>

    </div>
</footer>