{% extends 'main/base.html' %}


{% block content %}

<div class="card">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        {% for test in sidebar %}
            {% if forloop.counter0 == testler_idx %}
                <li class="tab"><a class="active" href="{{test.test_slug}}">{{test.test_alt_title}}</a></li>
            {% else %}

                <li class="tab"><a href="{{test.test_slug}}">{{test.test_alt_title}}</a></li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
   
<form id ='test' method="POST">
    <div class="card-content grey lighten-4">
            <div id="{{test.test_slug}}">
            {%for soru, cevap in soru_cevaplar.items%}
                <br> <br>
                
                <p style="color: red;"> Problem {{soru.soru_sirasi}} ) </p>
                <br>
                <p>{{soru.soru_soru|safe}}</p>
                <br>
                
                    {% for c in cevap%}
                        
                        <label>
                            <input name="{{c.cevap_soru}}" type="radio" value="{{c.cevap_correct_anwser}}"/><span>{{c.cevap_content|safe}}</span>
                        </label>
                    {% endfor %}

            {% endfor %}
            </div>
            <br>
            
            {% if soru_cevaplar|length > 0 %}
            <input style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit" value="TESTİ BİTİR"></input>
            {% endif %}
        </div>
</form>
    
  </div>

 
<script type="text/javascript"> 
$(document).ready(function(){
   $("#test").on("click", function(){
    var radioValue = $("input[name='{{c.cevap_soru}}']:checked").val();
    console.log(radioValue);
  });
});
</script>


{% endblock%}

