{% extends 'main/base.html' %}


{% block content %}

<br><br>
<div class="container">
  <h5>Lütfen sorusunu çözmek istediğiniz yayını seçin:</h5>
  <br>
  
  {% for test, yayin in yayinlar.items %}
  <div class="col s12 m6 l4">

    <div class="card purple accent-4">

      <div class="card-content white-text">

        <span class="card-title">{{yayin.yayin_title}}</span>
        <p>Fiyat: {{test.test_fiyat}} ₺</p>
        {% for y, t in testsayisi.items %}
            {% if y.id == yayin.id %}
              <p> Test Sayısı: {{t}}  </p>
            {% endif %}
        {% endfor %}
     </div>
     
      <div class="card-action">
        <a href="{%url 'sinavlar:testler' test_slug=test.test_slug%}" class="white-text text-lighten-1">TESTLERE GİT</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock%}

<!-- asdsad 
  
<br><br>
<div class="container">
  <h5>Lütfen sorusunu çözmek istediğiniz yayını seçin:</h5>
  <br>
  

  {% for test, yayin in yayinlar.items %}
  <div class="col s12 m6 l4">

    <div class="card purple accent-4">

      <div class="card-content white-text">

        <span class="card-title">{{yayin.yayin_title}}</span>
        <p>Fiyat: {{test.test_fiyat}} ₺</p>
        <p>Test Sayısı: </p>
     </div>
     
      <div class="card-action">
        <a href="{%url 'sinavlar:testler' test_slug=test.test_slug%}" class="white-text text-lighten-1">TESTLERE GİT</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


yayinlar_slug=yayin.yayin_slug

-->